.sizer1 {
  font-size: 64px;
}

.sizer2 {
    font-size: 16px;
}
.margindecrease {
    margin-bottom: 10px;
}

#section07 { background: url(https://picsum.photos/1200/800?image=675) center center / cover no-repeat;}


.gallerybottom {
  margin-bottom: 100px;
}

.gallerytop {
  margin-top: 100px;
}

.scroll-container,

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
}

a.button2{
 display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#FFFFFF;
 text-align:center; 
 transition: all 0.15s;
}
a.button2:hover{
 color:#DDDDDD;
 border-color:#DDDDDD;
}
a.button2:active{
 color:#BBBBBB;
 border-color:#BBBBBB;
}
@media all and (max-width:30em){
 a.button2{
  display:block;
  margin:0.4em auto;
 }
}