
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);

body {
    padding-top: 20px;
	  color: #222;
    font-family: 'Lora', serif;
    font-size: 17px;
    line-height: 1.8 !important;
}

html {
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lora', serif;
	font-weight:200;
	color: #222;
}

.copy-email-btn{
  font-size: xx-small;
  background-color: transparent;
  border-color: transparent;
  margin: 8px;
  color: #222;
  text-decoration: underline;

}
.copy-email-btn:hover{
  font-size: xx-small;
  background-color: transparent;
  border-color: transparent;
  margin: 8px;
  color: #403d40;
  text-decoration: underline;

}


p{
  font-family: 'Lora', serif;
	font-weight:300;
}

.hire-me-link {
  text-decoration: underline;
  color:#555;
}
.hire-me-link:hover {
  text-decoration: underline;
  color: #a5a5a5;
}

.hire-me-link-black {
  text-decoration: underline;
  color:black;
}
.hire-me-link-black:hover {
  text-decoration: underline;
  color: #a5a5a5;
}

.heading-space-1 {
  margin-top: 24px;
}

.heading-space-2 {
  margin-left: 64px;
}

.heading-space-3 {
  margin-top: 128px;
}

.title-spacing {
  margin-top: 32px;
}

.inter-font {
  font-family: 'Inter', sans-serif;
	font-weight:300;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
	padding-top:85px;
	padding-bottom:85px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

a,a:link {
	color: #222;
}

a:hover,a:focus {
	color: #222;
}

/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/
.carousel {
  margin-left: 15%;
  margin-right: 15%;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}

.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 64px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 8%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 8%;
  text-align: right;
  right: 0; 
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  padding: 8px;
}

.containerz {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.imgz {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.play-icon{ margin-right: 10px; }

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}

/* Navbar */

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-brand img{
	max-height:50px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

@media(min-width:768px) {
    body {
        padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 0px;
    }
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #222;
}

.navbar-default .navbar-nav > li > a {
    color: #222;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #555;
}


/* Toggle Animation */

.navbar-toggle * {
	-ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.navbar-toggle {
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 16px;
    width: 50px;
    float: right;
	margin-top:0px;
	margin-bottom:0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
}

.navbar-toggle span {
	width: 25px;
	height: 3px;
	margin-bottom: 5px;
	background-color: #222;
	display: block;
}
.navbar-toggle span.bar1 {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
	-ms-transform-origin: 1px 3px;
	-webkit-transform-origin: 1px 3px;
  -moz-transform-origin: 1px 3px;
  -o-transform-origin: 1px 3px;
	transform-origin: 1px 3px;
	width: 31px;
}
.navbar-toggle span.bar2 {
	-ms-transform: rotate(-360deg) scale(0);
	-webkit-transform: rotate(-360deg) scale(0);
  -moz-transform: rotate(-360deg) scale(0);
  -o-transform: rotate(-360deg) scale(0);
	transform: rotate(-360deg) scale(0);
}

.navbar-toggle span.bar3 {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform-origin:8px 2px;
	-webkit-transform-origin: 8px 2px;
	transform-origin: 8px 2px;
	width: 31px;
}
.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
	-ms-transform: none;
	-webkit-transform: none;
	transform: none;
	width: 30px;
}


/* Intro */

.intro {
	font-size:22px;
	padding-top:60px;
	padding-bottom:25px;
}



/* About */


.big-letter p:first-child:first-letter { 
	float: left; 
	color: #222; 
	font-size: 8em;  
	line-height: 0.8em; 
	text-transform: uppercase; 
	padding-top: 0px;  
	padding-right: 0.1em; 
	padding-left: –0.03em;	
}

/* Firefox Fix */

@-moz-document url-prefix() {
    .big-letter p:first-child:first-letter {
        padding-top: 0.08em;  
    }
}



/* Carousel */

.carousel-control.left {
  background-image: none;
  filter: none;
}
.carousel-control.right {
  background-image: none;
  filter: none;
}



/* Gallery */


/* Hover Effect */

.hovereffect a:link,.hovereffect a:hover,.hovereffect a:focus,.hovereffect a:visited {
	color:#fff;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: left;
  background: #cccccc;
  cursor:pointer;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  cursor:pointer;
}

.hovereffect a, .hovereffect p,.hovereffect h2 {
  color: #fff;
  text-decoration:none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  color:#fff;
  text-decoration:none;
  opacity: 1;
  letter-spacing:1px;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media (max-width: 992px) {
	.hovereffect{
		margin-bottom: 25px;
	}
  .main-img{
    max-width: 100%;
    height: auto;
  }
  .title-spacing {
    margin-top: 32px;
    margin-left: 16px;
  }
  h3 {
    font-size: medium;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 52.25%;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 24px;
    line-height: 600px;
    color: #fff;
  }
  
  .carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
  }

  .card {
    position: relative;
    display:inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    padding: 4px;
  }
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor:pointer;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect .photo-1, 
.hovereffect .photo-2, 
.hovereffect .photo-3,
.hovereffect .photo-4,
.hovereffect .photo-5,
.hovereffect .photo-6{
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover .photo-1,
.hovereffect:hover .photo-2,
.hovereffect:hover .photo-3,
.hovereffect:hover .photo-4,
.hovereffect:hover .photo-5,
.hovereffect:hover .photo-6{
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.photo-1,.photo-2,.photo-3,.photo-4,.photo-5,.photo-6{
	background-size:cover;
	height:100vh;
	width:100%;
	background-position:center;
}

/* Thumbnail Images*/

.photo-1 {background-image: url('../img/1.jpg');}
.photo-2 {background-image: url('../img/2.jpg');}
.photo-3 {background-image: url('../img/3.jpg');}
.photo-4 {background-image: url('../img/4.jpg');}
.photo-5 {background-image: url('../img/5.jpg');}
.photo-6 {background-image: url('../img/6.jpg');}

/* Modal Box */

.modal-dialog {
    margin: 0px auto;
    position: fixed;
    top: 0;
	left:0;
    width: 100%;
}

.modal-body {
    padding: 0px;
}

.modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

/* Carousel Control*/

.close {
    color: #fff;
    font-size: 50px;
    font-weight: lighter;
    opacity: 1;
    position: fixed;
    right: 30px;
    text-shadow: none;
    top: 10px;
    z-index: 2147483647;
}

.close:hover, .close:focus {
    color: #f7f7f7;
}

.carousel-control.left, .carousel-control.right  {
    background-image: none;
	height: 100vh;
}

.carousel-control {
    text-shadow: none;
	width: 9%;
}

.modal-open .modal {
    top: 0;
    position: fixed!important;
}


/* Thumbnail */

.thumbnail {
    background-color: transparent;
    border: 0px solid #ddd;
    border-radius: 0px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 0px;
    padding: 10px;
    transition: border 0.2s ease-in-out 0s;
}

@media (max-width: 992px) {
	.thumbnail {
		padding: 0px 10px;
	}
}


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 100vh;
    max-width: none;
	width: 100%;
	object-fit: cover;
}


/* Press */

.press p {
	line-height:1.7em;
}

.press a:link {
	text-decoration:underline;
}

.press h4 {
	padding-top:20px;
	font-weight:bold;
	letter-spacing:1px;
}



/* Brand */

.logo-list img {
	width:100%;
	height:auto;
	opacity:0.8;
}

.logo-list li {
	padding-bottom:1%;
}

.logo-list li a:hover, 
.logo-list li a:focus {
  opacity: 0.6;
  transition:  opacity 0.2s ease;
  display: block; }
}


/* Footer */

footer {
	padding-bottom:85px;
}

footer p {
  font-family: 'Lora', serif;
	font-weight:200;
	font-size:0.7em;
	text-transform:uppercase;
}




.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/arrow-up.png) no-repeat center 50%;
  background-size:cover;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: transparent;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


